# Build directories
build/
build-*/
out/
cmake-build-*/

# IDE
.vscode/
.idea/
*.swp
*.swo
.vs/

# Compiled
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# docs
docs/NOTE.md

# other
other/